<%- include("header") -%>

    <h2> This is the about page </h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit deleniti numquam, iure, vitae sequi dignissimos est quam fugiat ut consequatur, enim soluta inventore blanditiis cupiditate dolor corporis illum a architecto!</p>

<%- include("footer") -%>